
.customButton{
    background: darkcyan;
    color: #fff;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 14px;
    font-size: 1.52rem;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 5px;
}

.myForm{
    padding: 10px 30px;
    background: rgba(0,0,0,0.04);
    border: 2px solid #117a8b;
}

.myForm h4{
    padding: 15px;
    color: #fff;
}

.myForm form div{
    padding: 20px 120px 8px;
}
